.parent{
  display: flex;
  width: 100vw;
  height: 30vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  margin-top: 0.333%;
  justify-content: space-between;
}

.imgcontainer{
 width: 30vw;
 height: 24vh;
 margin-top: 0.5%;
 margin-left: 2%;
 border-left: 1px solid silver;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
 border-radius: 10px;
}
.img{
 width: inherit;
 height: inherit;
 border-radius: inherit;
}
.form{
  width: 67vw;
  height: 29vh;
  display: grid;
  border-right: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  row-gap: 2%;
}
.formSpan{
  border-right: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: inherit;
  padding-left: 2%;
  font-weight: 500;
  overflow-y: auto;
  font-size: 1em;
}
.header{
  display: flex;
  justify-content: center;
  border-right: 1px solid silver;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: inherit;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 1em;
  overflow-y: auto;
}
.link{
  border: 1px solid silver;
  border-radius: 2px;
  box-shadow: 1px 1px 2px grey;
  font-size: 0.7em;
  font-weight: 500;
}
.btnCon{
  width: 75%;
  display: flex;
  justify-content: space-between;
  
}
.btn{
  border: 1px solid silver;
  width: 50%;
  box-shadow: 1px 1px 2px grey;
  height: 80%;
}

