.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100svw;
	padding-top: 2.5dvh;
	padding-bottom: 2.5dvh;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 95%;
}

.input {
	margin: 1.5svh;
	color: black;
	width: 90dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  letter-spacing: 4dvw;
  box-shadow: -2px 2px 5px grey;
  padding-left: 1dvw;
  padding-right: 1dvw;
  height: 5svh;
}

.error {
	color: red;
	margin-left: 10px;
}

.passWordContainer {
	display: flex;
	width: 85dvw;
	justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: -2px 2px 5px grey;
  margin-top: 1.5svh;
  margin-bottom: 1.5svh;
  height: 5svh;
}

.passWord {
	width: 74dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
  letter-spacing: 5dvw;
}

.visibility {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10dvw;
	color: black;
	height: 4.1svh;
  margin-top: 0.1svh;
  background-color: white;
}

.passWordSvg {
	width: 10dvw;
	height: 4svh;
	color: white;
	border-radius: 3svh;
}

.button {
  background-color: black;
	color: white;
	width: 30dvw;
  margin-top: 3svh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 5.55svh;
  border-radius: 20svh;
}


.passcodeContainer{
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70dvw;
  height: 7svh;
}
.btn{
  width: fit-content;
}
.input1{
  width: 7dvw;
  height: 4svh;
  border-radius: 7px;
  display: flex;
  padding-left: 3.5%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.svg{
  width: 10dvw;
  height: 4svh;
  color: white;
  box-shadow: 0 2px 4px 0 black, 0 0.75px 2.5px 0 white;
  border-radius: 1svh;
}


