.onClick{
  animation: onClick 0.3s ease-in  normal forwards;
  background-color: white;
  width: 35vw;
  height: 10vh;
  text-shadow: 1px 1px 2px white, 0 0 25px rgb(243 244 246), 0 0 5px white;
  font-weight: bolder;
  font-size: 0.7em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 5px;
  border-right: 1px solid silver;
  margin-right: 1px;
  margin-top: 1em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
}

.unClicked{
 
  width: 35vw;
  height: 10vh;
  text-shadow: 1px 1px 2px white, 0 0 25px rgb(243 244 246), 0 0 5px white;
  font-weight: bolder;
  font-size: 0.7em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  border-radius: 5px;
  border-right: 1px solid silver;
  margin-right: 1px;
  margin-top: 1em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
}

.existingUser{
  position: fixed;
  top: 60vh;
  left: 10vw;
  margin-top: 1vh;
  width: 80vw;
  height: 20vh;
}

.newUser{
  position: fixed;
  top: 60vh;
  left: 10vw;
  margin-top: 1vh;
  width: 80vw;
  height: 20vh;
  z-index: 1;
}
.displayedBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80dvw;
  height: 20svh;
  z-index: 3;
}
.btnLink1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
  width: 35dvw;
  height: 10svh;
  margin-right: 0.5dvw;
  border-top-left-radius: 17svh;
  border-bottom-left-radius: 17svh;
  font-weight: bolder;
  font-size: 0.7em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}
.btnLink1:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
  width: 30dvw;
  height: 9.5svh;
  margin-right: 1dvw;
  border-top-left-radius: 17svh;
  border-bottom-left-radius: 17svh;
  font-weight: bolder;
  font-size: 0.6em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

.btnLink2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
  width: 35dvw;
  height: 10svh;
  margin-left: 0.5dvw;
  border-top-right-radius: 17svh;
  border-bottom-right-radius: 17svh;
  font-weight: bolder;
  font-size: 0.7em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

.btnLink2:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:  5.55%;
  width: 30dvw;
  height: 9.5svh;
  margin-left: 1dvw;
  border-top-right-radius: 17svh;
  border-bottom-right-radius: 17svh;
  font-weight: bolder;
  font-size: 0.6em;
  color: black;
  background-color: rgb(243 244 246);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}
.svg{
  width: 1.3em;
  height: 1.3em;
}

.userBtn{
  display: flex;
}
.innerBtnCover{
  display: flex;
  flex-direction: column;
  margin: 1vw;
}


@keyframes onClick{
  0%{transform: scale(1);}
  50%{transform: scale(.75);}
  100%{transform: scale(.95);}
}